.jumbotron h1 {
  font-size: 32px;
}

.jumbotron h2 {
  font-size: 26px;
}

.container .jumbotron, .container-fluid .jumbotron {
	background-image: url({'./images/newspaper.jpg'});
	border-radius: 0;
}
